body {
    font: 30px "Century Gothic", Futura, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: grey;
    font-weight: 500;
  }
  
  ol, ul {
    list-style: none;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .square {
    background: #fff;
    border: 2px solid grey;
    float: left;
    font-size: 80px;
    font-weight: bold;
    line-height: 34px;
    height: 94px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 94px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }

  button {
    font: 16px "Century Gothic", Futura, sans-serif;
    width: 180px;
    justify-items: center;
    margin-right: 25px;
    
  }

  .title {
    color: grey;
    font-size: 30px;
    font-weight: 500;
  }

  ol {
    margin: 0px;
  }

  .status {
    margin-top: 15px;
    margin-bottom: 5px;
  }